:root{
--tobias-color-primary-1: #fefff0;
--tobias-color-primary-2: #f7fcca;
--tobias-color-primary-3: #e3f099;
--tobias-color-primary-4: #cde36d;
--tobias-color-primary-5: #b7d645;
--tobias-color-primary-6: #a1ca21;
--tobias-color-primary-7: #7aa312;
--tobias-color-primary-8: #587d07;
--tobias-color-primary-9: #395701;
--tobias-color-primary-10: #1e3000;

--tobias-color-success-1: #f6ffed;
--tobias-color-success-2: #d9f7be;
--tobias-color-success-3: #b7eb8f;
--tobias-color-success-4: #95de64;
--tobias-color-success-5: #73d13d;
--tobias-color-success-6: #52c41a;
--tobias-color-success-7: #389e0d;
--tobias-color-success-8: #237804;
--tobias-color-success-9: #135200;
--tobias-color-success-10: #092b00;

--tobias-color-warning-1: #fffbe6;
--tobias-color-warning-2: #fff1b8;
--tobias-color-warning-3: #ffe58f;
--tobias-color-warning-4: #ffd666;
--tobias-color-warning-5: #ffc53d;
--tobias-color-warning-6: #faad14;
--tobias-color-warning-7: #d48806;
--tobias-color-warning-8: #ad6800;
--tobias-color-warning-9: #874d00;
--tobias-color-warning-10: #613400;

--tobias-color-error-1: #fff1f0;
--tobias-color-error-2: #ffccc7;
--tobias-color-error-3: #ffa39e;
--tobias-color-error-4: #ff7875;
--tobias-color-error-5: #ff4d4f;
--tobias-color-error-6: #f5222d;
--tobias-color-error-7: #cf1322;
--tobias-color-error-8: #a8071a;
--tobias-color-error-9: #820014;
--tobias-color-error-10: #5c0011;

--tobias-color-neutral-1: #000000E0; // 正文基础颜色
--tobias-color-neutral-2: #000000E0; // 一级文本颜色
--tobias-color-neutral-3: #000000A6; // 二级文本颜色
--tobias-color-neutral-4: #00000040; // 禁用文本颜色
--tobias-color-neutral-5: #D9D9D9FF; // 边框颜色
--tobias-color-neutral-6: #050505FF; // 分隔线颜色 tooltip背景颜色
--tobias-color-neutral-7: #F5F5F5FF; // 布局背景颜色

--tobias-shadow-1-down:	0px 1px	2px	-2px rgba(0, 0, 0, 0.16), 0px 3px	6px	0px rgba(0, 0, 0, 0.12), 0px 5px	12px	4px rgba(0, 0, 0, 0.09);
--tobias-shadow-2-down: 0px 3px	6px	-4px rgba(0, 0, 0, 0.12), 0px 6px	16px	0px rgba(0, 0, 0, 0.08), 0px 9px	28px	8px rgba(0, 0, 0, 0.05);
--tobias-shadow-3-down: 0px 6px	16px -8px rgba(0, 0, 0, 0.08), 0px 9px	28px	0px rgba(0, 0, 0, 0.05), 0px 12px	48px	16px rgba(0, 0, 0, 0.03);
}
